<!-- <app-header></app-header>
<router-outlet></router-outlet>
<div class="w-full">
</div> -->
<div class="hidden md:block">
<div class="banner -mt-[30rem] !h-full">
  <img src="assets/IlandCover.png">
</div>
<div class="media-bg flex !w-full">
  <div class="w-1/2 max-h-full flex flex-col justify-center items-center">
    <h1 class="flex text-md font-medium"><img src="assets/apple.png" class="h-[18px] mt-[0.4rem] ml-2">iPhone 15 Series</h1>
    <h1 
    class="text-6xl font-bold text-">
    Newphoria</h1>
    <span class="text-md mt-2">Available Now</span>
    
  </div>
  <div class="max-h-full">
    <img src="assets/iphone15.jpg" class="max-h-full">
  </div>
</div>

<div class="banner lrg-content flex !bg-[#f5f4f4e6] !w-full">
  <div class="max-h-full flex">
    <img src="assets/s24.jpg" class="ml-12">
  </div>
  <div class="w-1/2 max-h-full flex flex-col justify-center ">
    <h1 class="font-semibold">Galaxy S24 Ultra</h1>
    <div class="w-full flex justify-center">
      <span class="grid grid-flow-col "><h2>Galaxy AI</h2><img src="assets/bard.svg" class="h-8 mt-2"><h2>is Here</h2></span>
    </div>
  </div>
</div>
</div>

<!-- mobile view -->
<div class="block md:hidden">
<div class="banner !h-full">
  <img src="assets/IlandCover.png">
</div>
<div class="media-bg flex flex-col !w-full">
  <div class="flex flex-col justify-center items-center">
    <h1 class="flex text-md font-medium"><img src="assets/apple.png" class="h-[18px] mt-[0.4rem] ml-2">iPhone 15 Series</h1>
    <h1 
    class="text-5xl font-bold text-">
    Newphoria</h1>
    <span class="text-md mt-2">Available Now</span>
    
  </div>
  <div class="max-h-full">
    <img src="assets/iphone15.jpg" class="max-h-full">
  </div>
</div>

<div class="banner lrg-content flex flex-col !bg-[#f5f4f4e6] !h-full !w-full relative">
  <div class="absolute -top-3 left-1"><img src="assets/samsunglogo.svg" class="h-14"></div>
  <div class=" flex flex-col justify-center ">
    <h1 class="!text-3xl !font-semibold">Galaxy S24 Ultra</h1>
    <div class="w-full flex justify-center">
      <span class="grid grid-flow-col !text-xl"><h4>Galaxy AI</h4><img src="assets/bard.svg" class="h-8 mt-2"><h4>is Here</h4></span>
    </div>
  </div>
  <div class="max-h-full flex">
    <img src="assets/s24.jpg">
  </div>
</div>
</div>